.socket{
    position:absolute !important;
  }

.output {
  all:unset ;
  right: 16.7%;
  top:10%;
  }
  .input {
    all:unset ;
    left: 16.7%;
    top:10%;
    }
    /* .node .control{
      padding: 0px 0px !important;

    } */
    .node{
      padding-bottom: 0px;
    }