.App {
  font-family: sans-serif;
}

.actionNode {
  border-width: 0px !important;
}

.actionNode:hover {
  border-color: #FCB340 !important;
  border-width: 2px !important;
}

.node .title {
  color: black !important;
}

.node .actionTitle {
  background-color: #FFECA7;
}

.output-title {
  color: black !important;
}


  /* .connection .main-path{ */
    /* stroke: #8492A6 !important; */
    /* fill: antiquewhite !important; */
    /* stroke-width: 3px !important; */
    
  /* }  */


.socket {
  background-color: #8492A6 !important;
  border: 1px solid #8492A6 !important;
  height: 12px !important;
  width: 12px !important;
  margin-right: 0px !important;
}

.socket .input {
  background-color: #FCB340 !important;
}


