.App {
    font-family: sans-serif;
  }

  .node .title{
    color : black !important ;
  }
  .output-title{
    color:black !important;
  }
 .playIcon{
    height: 16px;
    background-color: #60CC6C;
    border-radius: 100%;
 }

 .socket  {
    background-color: #333 !important;
    border: 1px soild #333 !important;
    height:12px !important;
    width:12px !important;
  }
  .socket .input {
    margin-left: 0 !important;
  }
  .connection .main-path{
    stroke: gray !important;
    /* fill: antiquewhite !important; */
    stroke-width: 3px !important;
  }
